<h2>this site is about products in a online store</h2>

{% comment %} {% for  in books %}
{{ book.title }} by {{ book.author}}
<br>

{% endfor %} {% endcomment %}

{% block content %}
    {% for product in products%}
        <div class="post">
            <div class="date">
                {{ post.published_date }}
            </div>
            <h2><a href="">{{ post.title }}</a></h2>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
    {% endfor %}
{% endblock %} {% endcomment %}